<div class="row">
    <h2>Adicionar categorias</h2>
    <hr>
    <div class="card">
        <div class="car-body">
            <form action="/admin/categorias/nova" method="post">
                <label for="nome" class="form-label" >Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Nome da categoria" class="form-control">
                <label for="slug" class="form-label" >Slug:</label>
                <input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control">
                    <br/>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Criar Categoria</button>
                </div>
                    <br/>
            </form>
        </div>
    </div>
</div>
