<div class="row">
    <h2>Lista de categorias</h2>
    <hr>
    <div class="col-md-4">
        <a href="/admin/categorias/add">
            <button type="button" class="btn btn-success">Nova Categoria</button>
        </a>
    </div>
</div>
